<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
str = input("Enter a string: ")
length = len(str)
print("Length of the string is:", length)

Enter a string: 'Rajeev'
Length of the string is: 8

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [7]:
# write your answer here
str = "google.com"
character_count = {}

for char in str:
    if char in character_count:
        character_count[char] += 1
    else:
        character_count[char] = 1

# print the result 
print(character_count)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [8]:
# write your answer here
list = [1, 2, 3, 4, -5]
sum_of_all_list = sum(list)
print("Sum of the list is:", sum_of_all_list)

Sum of the list is: 5

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [9]:
# write your answer here
str = 'restart'
first_character = str[0]
modified_string = first_character

for char in str[1:]:
    if char == first_character:
        modified_string += '$'
    else:
        modified_string += char

print("Modified string:", modified_string)

Modified string: resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))

S = 3.14 * (1 + a / b) ** 3

print("The value of S is:", S)

Enter the value of a: 2
Enter the value of b: 3
The value of S is: 14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [10]:
# write your answer here
dict1 = {1:10, 2:20}
dict2 = {3:30, 4:40}
dict3 = {5:50, 6:60}

new_dict = {**dict1, **dict2, **dict3}

print("New dictionary:", new_dict)

New dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [11]:
# write your answer here
tuple = (1, 3, 5, 7, 9)
element = 10

if element in tuple:
    print("Element", element, "exists in the tuple.")
else:
    print("Element", element, "does not exist in the tuple.")

Element 10 does not exist in the tuple.

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [12]:
# write your answer here
set = {3, 6, 1, 8, 2, 9}

maximum_value = max(set)
minimum_value = min(set)

print("Maximum value in the set:", maximum_value)
print("Minimum value in the set:", minimum_value)

Maximum value in the set: 9
Minimum value in the set: 1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [6]:
# write your answer here
import random

student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470',
'sg1297','bg0320','fh0141','jl1252','sk1386','ak0956','sk1390',
'sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907',
'gn0108','pr0353','dr0609','ms1500','aos0040','ds0814',
'av0659','nv0234','hy0232']

random.shuffle(student_list)

groups = []
start = 0

while start < len(student_list):
  end = start + random.randint(4, 6)
  groups.append(student_list[start:end])
  start = end

for i, group in enumerate(groups, start=1):
  print(f"Group {i}: {group}")

Group 1: ['hy0232', 'sa1198', 'av0659', 'gn0108', 'sk1386', 'ms1500']
Group 2: ['aos0040', 'sk1458', 'ds0814', 'sc1229', 'dr0609', 'kg0569']
Group 3: ['jl1252', 'sk1313', 'fh0141', 'nv0234']
Group 4: ['sg1297', 'sm1640', 'ak0934', 'sb1357', 'nm0618']
Group 5: ['vb0218', 'vm0377', 'sm1907', 'ja0964', 'kg0470', 'ak0956']
Group 6: ['pr0353', 'bg0320', 'sk1390']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [35]:
def find_duplicate_elements(my_arr):
    unique_elems = set()
    duplicate_elems = set()

    for elem in arr:
        if elem in unique_elems:
            duplicate_elems.add(elem)
        else:
            unique_elems.add(elem)

    if len(duplicate_elems) > 0:
        return list(duplicate_elems)
    else:
        return -1
my_arr = [1, 2, 3, 4, 4, 5]
result = find_duplicate_elements(my_arr)
print(result)

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [37]:
# write your answer here
from datetime import date, timedelta

year = 2022
all_sundays = []

for month in range(1, 13):
    for day in range(1, 32):
        try:
            dt = date(year, month, day)
            if dt.weekday() == 6:
                all_sundays.append(dt)
        except ValueError:
            break

for sunday in all_sundays:
    print(sunday)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25